<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Invite users to the meeting</title>
</head>
<body>
<div th:fragment="content">
    <h1>Invite users to the meeting</h1>
    <form action="#" th:action="@{/meeting/invite}" method="post" th:object="${form}">
        <input type="hidden" th:field="*{meetingId}">

        <div>
            <span>Users list :&nbsp;</span>
            <ul id="userlist">
                <li th:each="user: ${users}">
                    [[ ${user.firstname} ]] [[ ${user.name} ]]
                    <input type="hidden" name="userIds" th:value="${user.id}" />

                    <button type="button" class="close" aria-label="Close" onclick="removeUser(this)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            </ul>
        </div>

        <div class="form-group">
            <label for="query">Search</label>
            <input type="text" id="query" class="form-control" placeholder="Firstname or name" autocomplete="off">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <script th:src="@{/script/meeting-invite-autocomplete.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/meeting-invite-autocomplete.css}">
</div>
</body>
</html>
