<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Meeting list</title>
</head>
<body>
<div th:fragment="content">
    <p>
        <a th:href="@{/meeting/create}" class="btn btn-secondary">Create a new meeting</a>
    </p>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Duration (hours)</th>
            <th>Participants</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="meeting: ${meetings}" th:object="${meeting}">
            <td th:text="*{name}">Repas de Noël</td>
            <td th:text="*{#temporals.format(date,'dd/MM/yyyy HH:mm')}">21/12/21</td>
            <td th:text="*{duration}">2</td>
            <td th:text="*{users.size}">2</td>
            <td>
                <a href="#" th:href="@{/meeting/update/{id}(id=*{id})}" class="btn btn-primary">
                    <i class="ri-edit-line"></i>
                </a>
                <a href="#" th:href="@{/meeting/invite/{id}(id=*{id})}" class="btn btn-primary">
                    <i class="ri-user-add-line"></i>
                </a>
                <form action="#" th:action="@{/meeting/delete/{id}(id=*{id})}" method="post" style="display: inline">
                    <button type="submit" class="btn btn-danger"><i class="ri-delete-bin-line"></i></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${meetings.number == 0} ? disabled">
                <a class="page-link" href="#" th:href="@{/meeting/(page=${meetings.number - 1})}">Précédent</a>
            </li>
            <li class="page-item"
                th:classappend="${meetings.number == page - 1} ? active"
                th:each="page: ${#numbers.sequence(1, meetings.totalPages)}">
                <a th:text="${page}" class="page-link" href="#" th:href="@{/meeting/(page=${page - 1})}"></a>
            </li>
            <li class="page-item" th:classappend="${meetings.number == meetings.totalPages - 1} ? disabled">
                <a class="page-link" href="#" th:href="@{/meeting/(page=${meetings.number + 1})}">Suivant</a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>
