<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">User list</title>
</head>
<body>
<div th:fragment="content">
    <p>
        <a th:href="@{/user/create}" class="btn btn-secondary">Add user</a>
    </p>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Firstname</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}" th:object="${user}">
            <td th:text="*{id}">1</td>
            <td th:text="*{username}">pierre.ponce@something.org</td>
            <td th:text="*{firstname}">Pierre</td>
            <td th:text="*{name}">Ponce</td>
            <td>
                <a href="#" th:href="@{/user/update/{id}(id=*{id})}" class="btn btn-primary">
                    <i class="ri-edit-line"></i>
                </a>
                <form action="#" th:action="@{/user/delete/{id}(id=*{id})}" method="post" style="display: inline">
                    <button type="submit" class="btn btn-danger"><i class="ri-delete-bin-line"></i></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
